html{
    scroll-behavior: smooth;
}

body{
    background-color: #121212;
    color: white;
    font-family: sans-serif;
    overflow-x: hidden;
}

header{
    min-height: 10vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    /* border: 2px solid black; */
}
header li{
    list-style: none;
    display: inline;
    margin-left: 2rem;
}

.ul{
    opacity: 0;
    margin-right: 2rem;
}

.listLink{
    text-decoration: none;
    color: white;
}

.listLink:hover, .listLink:active{
    border-bottom: 2px solid white;
}


main{
    /* display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center; */
    border: 2px solid white;
    min-height: 100vh;
    min-width: 80%;
}

#main-container{
    border: 2px solid white;
    /* min-width: 100%; */
    min-height: 100%;
    min-width:70%;
}

#start-text-div{
    min-height: 90vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 5rem;
    font-family: 'Akshar', sans-serif;
}

.start-text{
    /* transform: translateX(-90vh); */
    opacity: 0;
}

#about-me, #education, #portfolio{
    min-height: 50vh;
    opacity:0;
    transform: scale(0.7);
    transition: 0.5s;
}

#about-me.fade-in, #education.fade-in, #portfolio.fade-in{
    opacity:1;
    transform: scale(1);
    width: 100%;
}

#code-font{
    font-family: 'Source Code Pro', monospace;
    font-size: larger;
}

#pin-container{
    height:100%;
    width:100%;
    overflow:hidden;
}

.panel {
    height: 100%;
    width:100%;
    position: absolute;
}

.about-me{
    background-color: red;
}

.education{
    background-color: blue;
    right: 100%;
}

.portfolio{
    background-color: green;
    left: 100%;
}